.topnav{
    background-color: darkslategray;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap ;

}

.topnav a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    
}

.topnav a:hover {
    background-color: whitesmoke;
 
}

.topnav a.active {
background-color: lightseagreen;
color:white;
}

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
    
}


/* hero background image */
 .bgimage {
height: 50%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
.hero::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(PXL_20230507_001001665.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
 }
/* text css above hero image*/
.hero_title {
    font-size: 3rem;
    
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: right;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -100%);
    color: white;
}
/* about section image css */
.imageAboutPage {
   
}
/* services section css */
*{ margin: 0; padding: 0; box-sizing: border-box; }
*::before, *::after{ box-sizing: inherit; }
body{ color: rgba(0,0,0,.87); font-size: 1rem; line-height: 1.5; 
  font-family: Roboto, sans-serif; background: #26A69A; padding: 2rem 2rem 0; }
.wrapper{ display: flex; flex-flow: row; flex-wrap: wrap; justify-content: center; }
.wrapper > *{ margin: 0 1rem 2rem; }

.servicesText.card {
    object-fit: contain;
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
   
}
img {
    width: 200px;
    height: 300px;
    object-fit: contain;
  }
  
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: lightseagreen;
}
.servicesText:hover {
    border: 1px solid lightseagreen;
}

/* footer styling */
#footer {
    background-color: grey;
    text-align: center;
}
#contact {
    padding-bottom: 4rem;
}